* {
    margin: 0;
    padding: 0;
}

.info-container {
    background: white;
    height: 100vh;
    margin-top: -18px;
    border-radius: 16px;
    position: absolute;
    width: 100%;
}

.back-btn {
    position: absolute;
    margin: 24px 24px;
}

.top-img {
    width: 100%;
}

.Headline1 {
    margin: 0;
}

.info {
    padding: 16px 24px;
}

.card-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 48px;
}

.name-sex {
    display: flex;
    height: 100%;
    align-items: center;
}

.sex {
    height: 100%;
}


